.stepper_wrap{
    padding: 30px 0px;
    background-color: #42f6ff1a;
    .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
        color: #00abb3 !important;
    }
    .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
        color: #00abb3 !important;
    }
}
