.paymentDetails_wrap {
    .product_price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 30px 0px;

        .product_price_cover {
            display: flex;

            p {
                font-weight: 600;
                font-size: 16px;
                color: #101920;
            }

            .h4_title {
                margin-left: 10px;
            }
        }
    }



    .product_all_details_wrap {
        border: 1px solid #ccc;
        padding: 15px;
        margin-top: 30px;

        .product_all_details {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;

            p {
                width: 50%;
                color: #101920;
                font-weight: 600;
                font-size: 14px;
            }

            span {
                width: 50%;
                font-size: 14px;

                text-align: right;
                color: #4e4646;
            }
        }
    }

    .payment_details {
        .payment_details_list {


            li {
                font-size: 12px;
                line-height: 25px;
                color: #4e4646;
                position: relative;
                margin-left: 15px;

                &::before {
                    position: absolute;
                    top: 50%;
                    left: -10px;
                    height: 5px;
                    width: 5px;
                    background: #000;
                    content: "";
                    transform: translate(-50%, -50%);
                }
            }
        }
    }

    .paymentDetails_title {
        margin-bottom: 10px;

    }

    .cart_btn {
        .disabled_btn {
            background-color: rgb(198 197 197 / 89%);
            border: 1px solid #ffffff;
            font-size: 16px;
            font-weight: 600;
            padding: 12px 15px;
            min-width: 200px;
            border-radius: 5px;
            box-shadow: none;
            filter: none;
            color: #fff;
            cursor: no-drop;
        }
    }
}

.added_cart_msg{
    background: #e2e2e2;
    padding: 16px 14px;
    width: 500px;
    border-radius: 7px;
    border-left: 6px solid #00abb2;
    margin-bottom: 10px;

    span{
        svg{
            font-size: 24px;
            margin-right: 10px;
        }
    }
      a{
        color: #00abb2;
         &:hover{
            text-decoration: underline;
         }
      }
}